<form class="create-post-form text-color-white">
<div class="container post">
    <div class="navbar nav-post">
        <h2 class="nav-text">Create New Post</h2>
    </div>
    <div class="nav-content">
        <h4>Title</h4>
        <div class="form-outline mb-4">
            <input type="text" id="post-title" class="form-control" placeholder="Post Title" />
        </div>  
    </div>
    <div class="nav-content">
        <h4>Content</h4>
        <div class="form-outline mb-4">
            <textarea class="form-control" id="post-content" rows="3" placeholder="Post Content" ></textarea>
        </div>  
    </div>
    <div class="nav-content d-grid gap-2">
  <button class="btn btn-secondary" id="create-post" type="submit">Create</button>
</div>
</div>
</form>
<script src="/js/createpost.js"></script>