<form class="update-post-form text-color-white">
    <input type="hidden" id="post-id" value={{post.id}}>
    <div class="container post">
        <div class="navbar nav-post">
            <h2 class="nav-text">Edit Post</h2>
        </div>
        <div class="nav-content">
            <h4>Title</h4>
            <div class="form-outline mb-4">
                <input type="text" id="post-title" class="form-control" placeholder="Post Title" value={{post.title}} />
            </div>  
        </div>
        <div class="nav-content">
            <h4>Content</h4>
            <div class="form-outline mb-4">
                <textarea class="form-control" id="post-content" rows="3" placeholder="Post Content" >{{post.content}}</textarea>
            </div>  
        </div>
        <div class="nav-content d-grid gap-2">
            <button class="btn btn-secondary" id="update-post" type="button">Update Post</button>
            <button class="btn btn-secondary" id="delete-post" type="Delete">Delete</button>
        </div>
    </div>
</form>
<script src="/js/updatepost.js"></script>